*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif !important;
}

.logo-gred{
    color: transparent;
    background-color: transparent;
    background: linear-gradient(45deg, #BB30EB, #7178F4);
    -webkit-background-clip: text;
    font-size: 22px;
}

.aline-bg-primary{
    background-color: #BB30EB !important;
}

.aline-bg-primary-2{
    background-color: #7178F4 !important
}

.bell-icon{
    font-size: 30px;
}


.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  box-shadow: 0 -6px 20px rgba(0,0,0,0.12);
}

/* Normal icons */
.nav-item {
  flex: 1;
  text-align: center;
  font-size: 22px;
  color: #444;
}

/* Center wrapper keeps layout stable */
.add-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Floating + button */
.add-btn {
  width: 56px;
  height: 56px;
  background: linear-gradient(135deg, #a8
